.wrap {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.container {
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.sticky-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e9e9e9;
    color: #fff;
    box-shadow: 2px 2px 4px 1px gainsboro;
}

svg {
    min-width: 32px;
}

.mb-small {
    margin-bottom: 15px;
    margin-right: 1rem;

}

ul {
    display: flex;
}

li {
    font-size: 16px;

}

.button {
    border: 1px hidden;
    border-radius: 4px;
    padding: 8px;
}