* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #353535;
}


header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    background-image: url("c:\Users\User\Downloads\unrecognizable-man-shows-like-gesture-through-torn-yellow-wall-keeps-thumb-up (1).png");
    background-size: cover;
}

header div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
}

header div span {
    display: block;
    text-align: center;
    

}

.logo-2 {
    font-size: 50px;
    font-weight: bold;
    margin-left: -5px;
}

.logo-1 {
  letter-spacing: 20px ;
}

.blog-post-container {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #F1F1F1;
  box-shadow:  2px 2px 4px 1px rgb(174, 174, 174);
}

.blog-post-container img {
    width: 100%;
    margin-bottom: 20px;
}

.blog-post-container h2 {
    margin-bottom: 20px;
}

.blog-post-container .author {
    margin-bottom: 20px;
}

.blog-post-container .summary {
    margin-bottom: 20px;
}

.blog-post-container a {
    text-decoration: none;
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    display: inline-block;
}


